# Node.js dependencies
node_modules/

# Environment variables
.env

# Log files
*.log

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Optional: If using a temporary directory for compiled assets
tmp/

# Optional: If using a specific IDE or editor
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# npm package lock files (optional, depending on your preference)
yarn.lock
